.footer{
  background-color: #ecedf0;
  height: 100px;
  width: 100vw;
  margin-top: 50px;
  box-shadow: 0 -5px 40px rgba(0,0,0,0.16);

  .footer-container{
    display: flex;
    justify-content: space-between;
  }
  .footer-logo{

  }
}



