$font-raleway: 'Raleway', sans-serif; //Raleway [300, 400, 700, 800]
$font-open-sans: 'Open Sans', sans-serif; //Open Sans [300, 400, 700]
$font-Lato: 'Lato', sans-serif;//Lato [300, 400, 700]

//-------Font-weight-------//
$font-size-small: 300;
$font-size-normal: 400;
$font-size-bold: 700;
$font-size-big-bold: 800;